@page "/Client_home"
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<div class="custom-card client px-4 pt-4 pb-4">
			<div class="align-items-start">
				<h5>Welcome Back</h5>
				<div class="d-flex align-items-center gap-3">
					<h1 >Sample Name</h1>
					<h4 class="account-number">#123-456</h4>
				</div>
			</div>
			<div class="notification img align-items-end">
				<img src="/bootstrap/Utilities/Bell.png" />
			</div>
		</div>

		<div class="custom-card balance">
			
			<div>
				<h3>Current Balance: </h3>
				$4055.00
			</div>
			<div class="balance number">

			</div>
		</div>
	</main>
</div>