@page "/Forgot_password"


@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<div class="card forget_password shadow-lg">
			<h3 class="fw-bold text-light mt-5 mx-5">Forget Password</h3>
			
			<h5 class="indent fw-light text-light my-3 mx-5"> 
				To reset your password, please enter your registered email or phone number.
			</h5>

			<div class="loginform loginform sm">
				<input class="form-control form-control-lg mb-3" placeholder="Email/Phone number">
			</div>
			
			<div class="mb-3">
				<div class="col-4 d-grid mx-auto">
					<button class="btn btn-primary btn-lg">Continue</button>
				</div>
			</div>

			<NavLink class="nav-link" href="/Login_page">
				<button type="button" class="nav-link button custom_button mx-5 mb-4">
					<span class="bi bi-box-arrow-in-right"></span> ← Go Back
				</button>
			</NavLink>

		</div>

	</main>
</div>