@page "/Login_page"


@inject NavigationManager NavigationManager

<div class="page">
	<main>

		<div class="nav-horizontal">
			<nav class="nav-container">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill"></span> Home
				</NavLink>
				<NavLink class="nav-link" href="counter">
					<span class="bi bi-person-lines-fill"></span> Contact
				</NavLink>
				<NavLink class="nav-link" href="weather">
					<span class="bi bi-info-circle-fill"></span> About
				</NavLink>
				<NavLink href="Login_page">
					<button type="button" class="nav-link button">
						<span class="bi bi-box-arrow-in-right"></span> Login
					</button>
				</NavLink>
			</nav>
		</div>

		<div class="mx-auto rounded border p-4" style="width: 400px;margin: 60px;">
			<h3 class="text-center mb-3">Login</h3>

			@if (error.Length > 0)
			{
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>@error</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}

			<div class="mb-3">
				<label class="Form-label">Email</label>
				<input class="form-control" @bind="email">
			</div>

			<div class="mb-3">
				<label class="form-label">Password</label>
				<input class="form-control" type="password" @bind="password">
			</div>

			<div class="rpw">
				<div class="col d-grid">
					<button class="btn btn-primary" @onclick="LoginAsync"> Log in</button>
				</div>

				<div class="col d-grid">
					<button class="btn btn-outline-primary" href="Sign_up_page.razor" role="button">Sign up</button>
				</div>
			</div>

		</div>
		@* <article class="content px-4">
			@Body
		</article> *@
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code {
	public string email = "";
	public string password = "";
	public string error = "";

	private void LoginAsync()
	{
		if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password))
		{
			error = "Please fill in both the email and password.";
			return;
		}

		error = "";
		NavigationManager.NavigateTo("/Client_home_page");
	}
}
