@inherits LayoutComponentBase

<div class="page">
    <main>

        <div class="nav-horizontal">
            <nav class="nav-container">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill"></span> Home
                </NavLink>
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-person-lines-fill"></span> Contact
                </NavLink>
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-info-circle-fill"></span> About
                </NavLink>
                <button type="button" class="button" href="login">
                    <span class="bi bi-box-arrow-in-right"></span> Login
                </button>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
