@inherits LayoutComponentBase
<body>
    <div class="nav-horizontal">
        <div class="logo mx-5">
            <img src="/nexus_banking.png" alt="Logo" />
        </div>
        <nav class="nav-container">
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="Contact">
                Contact
            </NavLink>
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="About">
                About
            </NavLink>
            <NavLink class="nav-link" href="/Login_page">
                <button type="button" class="nav-link button">
                    Login
                </button>
            </NavLink>
        </nav>
    </div>
    <div class="main-content">
        @Body
    </div>
</body>