@inherits LayoutComponentBase

<body>
    <!-- Main Top NavBar Layout -->
    <div class="nav-horizontal">
        <NavLink href="/" class="nav-link">
            <img class="logo mx-5" src="/nexus_banking.png" alt="Logo" />
        </NavLink>

        <!-- Top NavBar Navigation Links-->
        <nav class="nav-container">
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="Contact">
                Contact
            </NavLink>
            <NavLink class="nav-link custom-nav-link mx-1 my-auto" href="About">
                About
            </NavLink>
            <AuthorizeView Roles = "@RoleNames.USER">
                <Authorized>
                    <NavLink class="nav-link" href="/Client_home">
                        <button type="button" class="nav-link button">
                            Home
                        </button>
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles = "@RoleNames.ADMINISTRATOR">
                <Authorized>
                    <NavLink class="nav-link" href="/Dashboard">
                        <button type="button" class="nav-link button">
                            Dashboard
                        </button>
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/Login_page">
                        <button type="button" class="nav-link button">
                            Log In
                        </button>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </nav>

    </div>

    <!-- Main Content -->
    <div class="main-content">
        @Body
    </div>
</body>

