@page "/Sign_up_page"

@inject NavigationManager NavigationManager

<div class="page">
	<main>

		<div class="card p-4 shadow-lg">
			<div class="d-flex justify-content-between align-items-center">
				<h3 class="fw-bold text-light">User Registration</h3>
				<button class="btn-close" aria-label="Close"></button>
			</div>

			<div class="information_box">

				<div class="row g-2">
					<div class="col-3">
						<label class="text-light">First Name</label>
						<input class="form-control" @bind="firstName" placeholder="First Name">
					</div>
					<div class="col-3">
						 <label class="text-light">Middle Name</label>
						<input class="form-control" @bind="middleName" placeholder="Middle Name">
					</div>
					<div class="col-3">
						<label class="text-light">Last Name</label>
						<input class="form-control" @bind="lastName" placeholder="Last Name">
					</div>
					<div class="col-1">
						<label class="text-light">Suffix</label>
						<input class="form-control" placeholder="Suffix">
					</div>
				</div>

				<div class="row g-2 mt-2">
					<div class="col-1">
						<label class="text-light">Age</label>
						<input class="form-control" type="number" placeholder="Age">
					</div>
					<div class="col-3">
						<label class="text-light">Birth Date</label>
						<input class="form-control" type="date" placeholder="mm/dd/yyyy">
					</div>
					<div class="col-4">
						<label class="text-light">Birth Place</label>
						<input class="form-control" placeholder="Full Address">
					</div>
					<div class="col-2">
						<label class="text-light">Sex</label>
						<select class="form-select">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>

					<div class="col-2">
						<label class="text-light">Civil Status</label>
						<select class="form-select">
							<option>Single</option>
							<option>Married</option>
							<option>Separated</option>
							<option>Widowed</option>
						</select>
					</div>
				</div>

				<div class="col d-flex align-items-center">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="rememberMe">
						<label class="form-check-label" for="termsAndConditions">
							I agree to the terms and conditions
						</label>

					</div>
				</div>
			</div>


			<div class="rpw mb-2">
				<div class="col d-grid">
					<button class="btn btn-primary" @onclick="LoginAsync"> Register</button>
				</div>
			</div>

		</div>
	</main>
</div>


@code {
	public string firstName = "";
	public string middleName = "";
	public string lastName = "";
	public string error = "";

	private void LoginAsync()
	{
		if (string.IsNullOrEmpty(firstName) || string.IsNullOrEmpty(lastName))
		{
			error = "Please fill in both the email and password.";
			return;
		}

		error = "";
		NavigationManager.NavigateTo("/Client_home_page");
	}
}
