@page "/Withdraw_confirmation"

@inject NavigationManager NavigationManager
@inject ClaimsHelperService _claimsHelper
@inject NexusAuthenticationStateProvider _authenticationStateProvider
@inject PageRedirectService _redirectService
@inject UserDataService _userDataService


<div class="page">
    <AuthorizeView Roles="@RoleNames.User">
        <Authorized>
            <main>
                <header class="custom-card-clientpage clientheader py-4 align-items-start">
                    <div class="px-5">
                        <div class="d-flex align-items-center my-4">
                            <h2>Withdraw</h2>
                        </div>
                    </div>
                    <section class="d-flex justify-content-end align-items-end mx-5 gap-2">
                        <p class="fs-6 fw-lighter align-text-bottom">Current Balance: </p>
                        <div class="custom-card-clientpage current-balance d-flex align-items-center justify-content-center">
                            @currentBalance
                        </div>
                    </section>
                </header>

                <div class="container">
                    <section class="card registration shadow-lg d-flex flex-column my-4 p-3">
                        <div class="mx-auto text-center p-4">
                            <h5>Withdraw Amount</h5>
                            <h1 class="fw-bolder py-3 mb-2">WithdrawAmount</h1>
                        </div>

                        <div class="d-flex justify-content-between mx-5">
                            <div class="d-flex flex-column text-start text-light mb-0">
                                <h5 class="mb-1 fw-bold">@clientName</h5>
                                <p class="m-0">@accountNumber</p>
                                <p class="m-0">@date</p>
                                <p class="m-0">confirmationNumber</p>
                            </div>

                            <section class="d-flex flex-column form-check d-flex justify-content-end mt-3">
                                <div class="text-end mt-3">
                                    <NavLink class="w-25" href="/Withdraw_receipt">
                                        <button class="btn btn-primary btn-lg w-100 mb-2">Confirm</button>
                                    </NavLink>
                                    <NavLink class="w-25" href="/Withdraw_amount">
                                        <button class="btn btn-warning btn-lg w-100 mb-3">Go Back</button>
                                    </NavLink>
                                </div>

                                <div class="pb-2">
                                    <input class="form-check-input mx-2" type="checkbox" id="termsAndConditions required">
                                    <label class="form-check-label text-light mb-2" for="withdrawAmountVerification">
                                        Confirm the details are correct.
                                    </label>
                                </div>


                            </section>
                        </div>
                    </section>
                </div>
            </main>
        </Authorized>
    </AuthorizeView>
</div>

@code 
{
    private ClaimsPrincipal? user;
    private Account? Account;

    private int accountId;

    private string accountNumber = string.Empty;
    private string clientName = string.Empty;
    private decimal currentBalance = 0.0m;
    private DateTime? date;

    protected override async Task OnInitializedAsync()
    {
        //  Get Authentication State
        AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        //  Redirect to Landing Page if not authenticated
        _redirectService.RedirectIfNotAuthenticated(user);


        //  Retrieve account id from claims
        accountId = Convert.ToInt32(_claimsHelper.GetClaimValue(user, CustomClaimTypes.AccountId) ?? "0");

        //  Retriev account from db.
        Account = await _userDataService.GetAccountAsync(accountId);

        if (Account is not null)
        {
            accountNumber = Account.AccountNumber;
            clientName = Account.AccountName;
            currentBalance = Account.Balance;
            date = DateTime.UtcNow;
        }
    }
}