@page "/Forgot_password"
@inject NavigationManager NavigationManager
@layout PlainLayout

<div class="page">
	<main>
		<div class="card forget_password shadow-lg">
			<h3 class="fw-bold text-light mt-5 mx-5">Forget Password</h3>
			
			<h5 class="indent fw-light text-light my-3 mx-5"> 
				To reset your password, please enter your registered email or phone number.
			</h5>

			<div class="loginform loginform sm">
				<input type="text" class="form-control form-control-custom form-control-lg form-control_custom mb-3" placeholder="Email/Phone number">
			</div>

			<NavLink class="btn btn-primary btn-lg d-grid col-4 mx-auto mb-3" href="/Bank_number">
				Continue
			</NavLink>

			<NavLink class="nav-link custom-nav-link" href="/Login_page">
				← Go Back
			</NavLink>


		</div>

	</main>
</div>