@page "/New_password"
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<div class="card new_password shadow-lg">
			<div class="">
				<h3 class="text-start fw-bold text-light mt-5 mx-5">Reset Password</h3>

				<h5 class="text-start fw-light text-light my-3 mx-5">
					Password must include:
				</h5>
				<ul class="fs-6 fw-light mx-5">
					<li>At least 8-12 characters.</li>
					<li>At least one uppercase letter (A-Z).</li>
					<li>At least one lowercase letter (a-z).</li>
					<li>At least one number (0-9).</li>
					<li>At least one special character.</li>
				</ul>
			</div>

			<div class="loginform sm mt-1">
				<input class="form-control form-control-custom form-control-lg mb-3" type="password" placeholder="New Password">
				<input class="form-control form-control-custom form-control-lg" type="password" placeholder="Confirm New Password">
			</div>

			<NavLink class="d-grid col-5 mx-auto mb-5" href="/">
				<button class="btn btn-primary">Reset Password</button>
			</NavLink>

		</div>

	</main>
</div>