@using Layout
@page "/"
@rendermode InteractiveServer

@layout PlainLayout
@inject IHttpContextAccessor accessor;
@inject UserSessionService userSessionService

<PageTitle>Nexus Banking</PageTitle>

<div class="page">
	<main>

		<!-- Title -->
		<div class="homepage">
			<div class="text-center">
				<h1 class="fw-bolder mb-3"> Nexus Bank System Management </h1>
				<h4 class="fw-lighter">C# System Project</h4>
			</div>
		</div>
	</main>
</div>

@code
{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			//	End user session if there is no authentication cookie found.
			bool hasAuthCookie = accessor.HttpContext?.Request.Cookies.ContainsKey("auth-token") ?? false;
			if (!hasAuthCookie)
			{
				await userSessionService.EndSession();
			}
		}
	}
}