@page "/"
@using Layout
@layout PlainLayout

<div class="page">
	<main>

		<!-- Title -->
		<div class="homepage">
			<div class="text-center">
				<h1 class="fw-bolder mb-3"> Sample Bank System Management </h1>
				<h4 class="fw-lighter">C# System Project</h4>
			</div>
		</div>
	</main>
</div>