@page "/"
@using Layout
@layout PlainLayout

<div class="page">
	<main>

		<!-- Title -->
		<div class="homepage">
			<div class="text-center">
				<h1 class="fw-bolder mb-3"> Sample Bank System Management </h1>
				<h4 class="fw-lighter">C# System Project</h4>
			</div>

			<!-- Login/Sign up Button -->
			<div class="button-container d-flex justify-content-center mx-auto">
				<NavLink class="nav-link" href="/Login_page">
					<button type="button" class="nav-link button btn-lg">
						Login
					</button>
				</NavLink>

				<NavLink class="nav-link" href="/Sign_up_page">
					<button type="button" class="btn btn-primary button btn-lg">
						Sign-Up
					</button>
				</NavLink>
			</div>

		</div>
	</main>
</div>