@using E_BankingSystem.Components.Client_page.Accounts

<!-- Card Component -->
<section class="carousel-card text-start p-3 border shadow-sm h-100">

    <!-- Card Details -->
    @if (!isEditing)
    {
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="fw-bold mt-3">@Account.AccountName</h3>
                <h5 class="fw-lighter m-0">@Account.AccountNumber</h5>
            </div>

            <!-- Edit Button -->
            @if (IsEditable)
            {
                <div class="d-flex align-items-end px-3">
                    <button class="btn btn-primary btn-sm" @onclick="EnterEditMode">Edit</button>
                </div>
            }
        </div>
        <hr />

        <!-- Available Balance -->
        <div class="d-flex justify-content-between mt-3">
            <p class="w-100">Available Balance:</p>
            <p class="text-success w-100">@Account.Balance</p>
        </div>

        <!-- Current Balance -->
        <div class="d-flex justify-content-between">
            <p class="w-100">Current Balance:</p>
            <p class="text-success w-100">@Account.Balance</p>
        </div>

        <!-- Contact Number -->
        <div class="custom-card sm mb-0 pb-0">
            <p class="m-1">
                <strong>Contact No.:</strong> @ContactNumber
            </p>
        </div>
    }

    <!-- Edit Card Details -->
    else
    {
        <div class="form-group mb-2">
            <label>Account Name</label>
            <input class="form-control" @bind="editedAccountName" />
        </div>

        <div class="d-flex justify-content-end gap-2 mt-3">
            <button class="btn btn-secondary btn-sm" @onclick="CancelEditMode">Cancel</button>
            <button class="btn btn-success btn-sm" @onclick="SaveChanges">Save</button>
        </div>
    }
</section>


@code {
    [Parameter]
    public Account Account { get; set; } = default!;

    [Parameter]
    public string? ContactNumber { get; set; }

    [Parameter]
    public bool IsEditable { get; set; } = false;

    private bool isEditing = false;

    private string editedAccountName = string.Empty;

    private void EnterEditMode()
    {
        isEditing = true;
        editedAccountName = Account.AccountName;
    }

    private void SaveChanges()
    {
        Account.AccountName = editedAccountName;
        isEditing = false;
    }

    private void CancelEditMode()
    {
        isEditing = false;
    }
}
