.container {
    width: 100%;
    max-width: 600px;
}

.carousel-wrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 1rem 0;
    justify-content: flex-start;
    max-width: 100%; 
}

    .carousel::-webkit-scrollbar {
        display: none;
    }

.carousel-card {
    flex: 0 0 auto;
    width: 500px; 
    max-width: 90%;
    background-color: white;
    border-radius: 12px;
    padding: 1.5rem;
    scroll-snap-align: start;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.custom-card {
    background-color: white;
    display: flex;
}

    .custom-card.sm {
        background-color: #E0E0E0;
        font-weight: lighter;
        width: 100%;
        border-radius: 5px;
    }

.square-btn {
    min-width: 70px;
    min-height: 70px;
    border-radius: 12px;
    border-color: transparent;
    color: white;
    background-color: rgba(72,128,255,0.57);
}

    .square-btn:hover {
        background-color: gray;
        color: black;
    }

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .dot:hover {
        background-color: #555;
    }

/*.carousel-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: #007bff;
    transition: color 0.3s ease;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: #0056b3;
    }
*/