.container{
    width: 600px;
}

.carousel-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    justify-content: start; 
    margin-left: auto;
    margin-right: auto;
}


.carousel::-webkit-scrollbar{
    display: none;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1rem;
    scroll-snap-align: start;
    color: black;
}

.custom-card {
    background-color: white;
    display: flex;
}

    .custom-card.sm {
        background-color: #E0E0E0;
        font-weight: lighter;
        width: 100%;
        border-radius: 5px;
    }

.square-btn {
    min-width: 70px;
    min-height: 70px;
    border-radius: 12px;
    border-color: transparent;
    color: white;
    background-color: rgba(72,128,255,0.57);
}

    .square-btn:hover {
        background-color: white;
        color: black;
    }

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .dot:hover {
        background-color: #555;
    }
