@page "/Settings_change_password"
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<!-- Header -->
		<header class="custom-card-clientpage clientheader px-4 py-4">
			<div>
				<div class="d-flex align-items-center gap-3 ms-3">
					<h1>Change Password</h1>
				</div>
			</div>
		</header>

		<!-- Main Content -->
		<div class="card registration shadow mt-3">
			<div class="mt-3 mx-5">

				<!-- Password Conditions -->
				<h5 class="text-start fw-light text-light my-3">
					Password must include:
				</h5>
				<ul class="fs-6 fw-light">
					<li>At least 8-12 characters.</li>
					<li>At least one uppercase letter (A-Z).</li>
					<li>At least one lowercase letter (a-z).</li>
					<li>At least one number (0-9).</li>
					<li>At least one special character.</li>
				</ul>
			</div>

			<!-- Password Fields -->
			<div class="loginform sm mt-1">
				<input class="form-control form-control-custom form-control-lg mb-3" type="password" placeholder="Current Password">
				<input class="form-control form-control-custom form-control-lg mb-3" type="password" placeholder="New Password">
				<input class="form-control form-control-custom form-control-lg" type="password" placeholder="Confirm New Password">
			</div>

			<!-- Change Password Button -->
			<div class="mt-3 text-center">
				<NavLink class="w-25 mx-auto" href="/Settings_page">
					<button class="btn btn-danger w-25">Cancel</button>
				</NavLink>
				<NavLink class="w-25 mx-auto" href="/Settings_page">
					<button class="btn btn-primary w-25">Change Password</button>
				</NavLink>
			</div>
		
		</div>
	</main>


</div>
