@page "/Settings_password_verification"
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<!-- Header -->
		<header class="custom-card-clientpage clientheader px-4 py-4">
			<div>
				<div class="d-flex align-items-center gap-3 ms-3">
					<h1>Verification</h1>
				</div>
			</div>
		</header>

		<!-- Verification Card Container -->
		<div class="card registration shadow-lg mt-3">
			<h3 class="fw-bold text-light mt-5 mx-5">Enter Password</h3>

			<!-- Instructions -->
			<h5 class="indent fw-light text-light my-3 mx-5">
				Enter password to continue.
			</h5>

			<!-- Password Input Field -->
			<div class="loginform loginform sm">
				<input type="password" class="form-control form-control-custom form-control-lg form-control_custom mb-3" placeholder="Password">
			</div>

			<!-- Submit Button -->
			<NavLink class="btn btn-primary btn-lg d-grid col-4 mx-auto mt-3" href="/Settings_change_email">
				Submit
			</NavLink>

			<!-- try Another Way Navlink -->
			<NavLink class="nav-link custom-nav-link-2 fw-lighter mx-auto mb-5" href="Settings_otp_verification">
				Try another way
			</NavLink>

		</div>

	</main>
</div>