@page "/Settings_change_contact"
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<!-- Header -->
		<header class="custom-card-clientpage clientheader px-4 py-4">
			<div>
				<div class="d-flex align-items-center gap-3 ms-3">
					<h1>Update Contact Number</h1>
				</div>
			</div>
		</header>

		<!-- Main Content -->
		<div class="card registration shadow mt-3">
			<div class="mt-3 mx-5">

				<!-- Password Conditions -->
				<h5 class="text-start fw-light text-light my-3">
					Enter your new contact number.
				</h5>
				<ul class="fs-6 fw-light">
					<li>
						A one-time password (OTP) code will be sent to the new contact number.
					</li>
				</ul>
			</div>

			<!-- Password Fields -->
			<div class="loginform sm mt-1">
				<input class="form-control form-control-custom form-control-lg mb-3" type="email" placeholder="New Contact No.">
				<input class="form-control form-control-custom form-control-lg mb-3" type="email" placeholder="Confirm New Contact No.">
			</div>

			<!-- Change Password Button -->
			<div class="mt-3 text-center">
				<NavLink class="w-25 mx-auto" href="/Settings_page">
					<button class="btn btn-danger w-25">Cancel</button>
				</NavLink>
				<NavLink class="w-25 mx-auto" href="/Settings_contact_otp">
					<button class="btn btn-primary w-25">Continue</button>
				</NavLink>
			</div>
		
		</div>
	</main>


</div>
