@using Layout

@page "/Logout_page"
@inject IHttpContextAccessor accessor
@inject PageRedirectService redirectService
@inject UserSessionService userSessionService

<div class="page">
	<main>

		<!-- Logout Box -->
		<div class="card new_password p-4 shadow-lg">
			<div class="m-4">
				<h4 class="text-center fw-bold mb-4">You have been signed out of your account</h4>
				<h6>Thank you for using Nexus Banking.</h6>
			</div>
			<!-- Sign In Button -->
			<div class="mb-2 mx-auto px-4 w-100">
				<NavLink class="btn btn-primary w-100" href="/">Back to Home Page.</NavLink>
			</div>

		</div>
	</main>
</div>

@code
{
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; } = default!;

	protected override async Task OnInitializedAsync() 
	{
		//	Get authentication state.
		AuthenticationState authState = await authenticationState;
		var user = authState.User;

		//	Redirect user if not authenticated on page load.
		redirectService.RedirectIfNotAuthenticated(user);

		//	Signout user if still authenticated on page load.
		await accessor.HttpContext!.SignOutAsync();
	}
}