@using Layout

@page "/Logout_page"
@inject NavigationManager NavigationManager

<div class="page">
	<main>

		<!-- Logout Box -->
		<div class="card new_password p-4 shadow-lg">
			<div class="m-4">
				<h4 class="text-center fw-bold mb-4">You have been signed out of your account</h4>
				<h6>Thank you for using Nexus Banking.</h6>
			</div>
			<!-- Sign In Button -->
			<div class="mb-2 mx-auto px-4 w-100">
				<button type="submit" class="btn btn-primary w-100">Sign In</button>
			</div>

		</div>
	</main>
</div>