@page "/Contact"

@using Layout
@layout PlainLayout

<PageTitle>Contact</PageTitle>

<div class="d-flex justify-content-center flex-column align-items-center text-light h-100">
	<h3>Contact</h3>
	<p>Sorry, page under construction!</p>
</div>

@code {

}
