body, html {
    margin: 0;
    padding: 0;
    background-image: url('/bootstrap/Utilities/bank-background.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
    background-attachment: scroll;
    min-height: 100%;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
/*    background-color: blue; (layouting issues)*/ 
}

main {
    margin: 0;
    padding: 0;
}

.information-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.btn-close {
    justify-content: flex-end;
    background-color: white;
    padding-block: 12px;
    padding-inline: 12px;
}

.card {
    flex-wrap: wrap;
    background-color: rgba(10,15,58,0.9);
    border: 2px solid white;
    border-radius: 12px;
    color: white;
}

    .card.login {
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
    }

    .card.registration {
        text-align: left;
        margin-right: 5%;
        margin-left: 5%;
    }

    .card.forget_password {
        text-align: left;
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
    }

    .card.new_password {
        margin-top: 5%;
        margin-left: 33%;
        margin-right: 33%;
    }

.custom-card-clientpage {
    background-color: white;
    display: flex;
    align-items: center;
}

    .custom-card-clientpage.clientheader {
        color: white;
        height: 100%;
        max-height: 140px;
        justify-content: space-between;
        background-color: #1A449F;
        border: none;
        border-radius: 0;
        border-bottom-right-radius: 50px;
    }

    .custom-card-clientpage.current-balance {
        background-color: rgba(56, 56, 56, 0.22);
        border: 2px solid white;
        border-radius: 10px;
        width: 180px;
        height: 80px;
    }

.indent{
    padding-left: 50px;
}

.form-control-custom {
    background-color: transparent !important;
    border: 2px solid rgba(10,15,58,0.9);
    border-bottom-color: white;
    color: white;
}

    .form-control-custom:focus {
        outline: none;
        box-shadow: none;
        border-color: #007BFF;
        border-bottom-color: white;
        color: white;
    }

.loginform {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginform.sm{
    margin-left: 15%;
    margin-right: 15%;
}

.loginform.lg {
    width: 30%;
}

.custom-nav-link {
    color: white !important;
    text-decoration: none;
}

    .custom-nav-link.margin {
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .custom-nav-link:hover {
        color: grey !important;
    }

.custom-nav-link-2 {
    color: white !important;
    text-decoration: none;
}

    .custom-nav-link-2:hover {
        color: grey !important;
    }


.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

    .otp-input:focus {
        border-color: #007BFF;
        outline: none;
    }

@media (max-width: 768px){
    .main {
        background-attachment: scroll;
    }
}
