@page "/Bank_number"
@inject NavigationManager NavigationManager
@using Layout
@layout PlainLayout

<PageTitle>Forgot Password</PageTitle>

<div class="page">
	<main>

		<!-- Authentication Card Container -->
		<div class="card forget_password shadow-lg">
			<h3 class="fw-bold text-light mt-5 mx-5">Authentication</h3>

			<!-- Instructions -->
			<h5 class="indent fw-light text-light my-3 mx-5"> 
				Please enter your bank account number to proceed.
			</h5>

			<!-- Bank Nummber Input Field -->
			<div class="loginform loginform sm">
				<input class="form-control form-control-custom form-control-lg mb-3" placeholder="Bank number">
			</div>

			<!-- Continue Button -->
			<NavLink class="btn btn-primary btn-lg d-grid col-4 mx-auto mb-3" href="/Verification">
				Continue
			</NavLink>

			<!-- Go Back Navlink -->
			<NavLink class="nav-link custom-nav-link margin" href="/Forgot_password">
				← Go Back
			</NavLink>

		</div>

	</main>
</div>